.main {
  margin-top: 550px;
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    margin-top: 65px;
    position: relative;
  }

  .curved__right {
    position: absolute;
    right: 10.8%;
    top: -4.5%;
    transform: rotate(-1deg);
  }

  .curved__left {
    position: absolute;
    bottom: 20%;
    left: 22%;
    transform: rotate(-8deg);
  }
}
