.logo {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .logoImg {
    width: 64px;
    height: 64px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    justify-content: flex-start;
    position: relative;
    z-index: 1;
  }
}
